<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://lncimg.lance.com.br/cdn-cgi/image/width=3840,quality=75,format=webp/uploads/2023/10/brasil_venezuela_pos_jogo-aspect-ratio-512-320.jpg"
    alt=""
    >
  </div>
  <span>October, 13th</span>
  <div class="big-card__title">
    <h1><a href="#">Em campo contra a Venezuela, Brasil deixa a desejar e tem que se contentar com um empate</a></h1>
  </div>
  <div  class="big-card__desc">
    <p>
      <a href="#">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo soluta repudiandae, totam numquam voluptatibus consectetur obcaecati aperiam, sunt praesentium necessitatibus earum cumque accusantium tempore non, atque culpa ipsam aut nobis?
      </a>
    </p>
  </div>
</div>



