<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      coverPhoto="https://lncimg.lance.com.br/cdn-cgi/image/width=3840,quality=75,format=webp/uploads/2023/10/brasil_venezuela_pos_jogo-aspect-ratio-512-320.jpg"
      cardTitle="Em campo contra a Venezuela, Brasil deixa a desejar e tem que se contentar com um empate"
      cardDesc="Após 45 minutos de pressão e um gol logo no início da segunda etapa, uma maré de erros individuais e falta de efetividade assombrou a seleção canarinha que ainda viu a seleção adversária marcar um golaço para decretar o empate na Arena Pantanal."
      publicationDate="October, 13th"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      coverPhoto="https://conteudo.imguol.com.br/c/esporte/0b/2023/10/07/jogadores-do-tottenham-festejam-vitoria-sobre-luton-town-pelo-campeonato-ingles-1696692333690_v2_1920x1279.jpg"
      cardTitle="Tottenham vence no sufoco com um jogador a menos e se torna líder da Premier League"
      publicationDate="October, 13th"
      >
    </app-small-card>
    <hr>
    <app-small-card
      coverPhoto="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/10/08/523026745-00033xr2nw-scaled.jpg"
      cardTitle="Barcelona tem gol polêmico anulado no final da partida e fica para trás na disputa pela liderança da LaLiga"
      publicationDate="October, 13th"
      >
    </app-small-card>
    <hr>
    <app-small-card
      coverPhoto="https://static.ndmais.com.br/2023/10/figueirense-jogo-lages-800x533.jpg"
      cardTitle="Mesmo com um a mais, Figueirense deixa escapar o primeiro lugar da Copa Santa Catarina"
      publicationDate="October, 13th"
      >
    </app-small-card>
  </div>

</div>
